<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
 >
    <!-- Define testsuite configurations -->
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Optional: PHP settings specific to tests -->
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="1" />
    </php>

    <!-- Code coverage configuration -->
    <source>
        <include>
            <directory suffix=".php">./modules</directory>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./modules/adfs</directory>
            <directory>./tests</directory>
        </exclude>
    </source>

</phpunit>
